.App {
  text-align: center;

  color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.background-screen{
  background-color: rgb(253, 224, 251);
}
.App-header {

  height: 150px;
  padding: 20px;
  color: rgb(21, 19, 19);
}

.App-intro{
  font-size: large;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
